.section {
  position: relative;
  width: 100%;
}

.section--hero {
  background: $hero-background-color;
  min-height: em(300);
  padding: 20vh 0;
  text-align: center;

  h1,
  h5,
  p {
    color: $light-header-color;
  }
}

.section--full-screen {
  height: 100vh;
  min-height: $iphone-five-height;
  width: 100vw;
}

.section--light {
  background-color: $light-background-color;
}

.section--dark {
  background-color: $dark-background-color;
}

.section__container {
  margin: auto;
  padding: $base-section-padding;
}

.section__container--medium {
  max-width: $medium-screen;
}

.section__container--large {
  max-width: $large-screen;
}
