.section {
  width: 100%;
}

.section--hero {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
  min-height: em(300);
  text-align: center;
}

.section--light {
  background-color: $light-background-color;
}

.section--dark {
  background-color: $dark-background-color;
}

.section__container {
  margin: auto;
  padding: $base-section-padding;
  max-width: $large-screen;
}
